---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Titles from "../components/Titles.astro";
import Competitions from "../components/Competitions.astro";
import Camps from "../components/Camps.astro";
import Coaches from "../components/Coaches.astro";
import Gallery from "../components/Gallery.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <About />
    <Titles />
    <Competitions />
    <Camps />
    <Coaches />
    <Gallery />
    <Contact />
  </main>
  <Footer />
</Base>
